{% extends "base.html" %}

{% block head_extra %}
    <script type="text/javascript" src="{{ STATIC_URL}}script/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" async src="http://js.pusher.com/1.12/pusher.min.js" id="pusherjs"></script>
        
    <script type="text/javascript">
        function debounce(func, wait) {
          var timeout;
          return function() {
            var context = this, args = arguments;
            var throttler = function() {
              timeout = null;
              func.apply(context, args);
            };
            clearTimeout(timeout);
            timeout = setTimeout(throttler, wait);
          };
        };

        function displayMessage(message, event) {
            var tr = $("<tr></tr>").addClass(event)
            tr.append($("<td></td>").text(message.id))
            tr.append($("<td></td>").text(event))
            tr.append($("<td></td>").text(message.encoding_scheme))
            tr.append($("<td class=encodedpayload></td>").text(message.encoded_payload))
            tr.append($("<td></td>").text(message.target || message.sender))
            var code = $("<pre></pre>").text(message.payload)
            var td = $("<td class=payload></td>").append(code)
            tr.append(td)
            if (event == "output") {
                $("#latestupdate").text(message.payload)
            }
            $("#messages tr.header").after(tr)
        }
        
        $(function() {
            var clicked = false
            $("#pusherjs").bind("load", function() {
                var pusher = new Pusher("afefd11a8f69dd2a425d")
                var channel = pusher.subscribe("messages")
                var private_channel = pusher.subscribe("private-messages")
                
                channel.bind("input", function(data) {
                    displayMessage(data, "input")
                })
                channel.bind("output", function(data) {
                    displayMessage(data, "output")
                })
                channel.bind("processing", function(data) {
                    displayMessage(data, "processing")
                })
                channel.bind("finished", function(data) {
                    displayMessage(data, "finished")
                })
                
                $("#send").click(function() {
                    if (clicked) {
                        return
                    }
                    private_channel.trigger("client-input", {target: "dispatcher", payload: $("#payload").val()})
                    clicked = true
                    displayMessage({
                        id: "",
                        payload: $("#payload").val(),
                        target: "dispatcher"
                    }, "input")
                }).removeAttr("disabled")
                
                $("#payload").keydown(debounce(function(event) {
                    if (event.keyCode == 10 || event.keyCode == 13) {
                        $("#send").click()
                    }
                }, 125))
            })
        })
    </script>
{% endblock  %}

{% block content %}
    <h1>A Series of Tubes</h1>
    <p id=intro>
        Type some stuff: <input type=text id=payload /> <button disabled id=send>Away we go!</button>
        <br />
        Latest update: <pre id=latestupdate></pre>
    </p>
    <p>Here&apos;s some other stuff:</p>
    <table id=messages>
        <tr class=header>
            <th>ID</th>
            <th>Event</th>
            <th>Current Encoding Scheme</th>
            <th>Encoded Payload</th>
            <th>Target/Sender</th>
            <th>Payload</th>
        </tr>
    </table>
{% endblock %}